<section class="logos reveal">
    <p>Built on the platforms developers trust</p>
    <div class="logos-row reveal-stagger">
        <span>.NET 8</span>
        <span>ROSLYN</span>
        <span>Blazor</span>
        <span>ASP.NET</span>
        <span>xUnit</span>
        <span>JSON.NET</span>
    </div>
</section>
