<section class="stats reveal">
    <div class="stats-grid reveal-stagger">
        <div class="stat">
            <div class="num" data-count="10" data-suffix="+">0<em>+</em></div>
            <div class="lbl">Node types</div>
        </div>
        <div class="stat">
            <div class="num">&lt;2<em>s</em></div>
            <div class="lbl">100-node execution</div>
        </div>
        <div class="stat">
            <div class="num" data-count="500">0</div>
            <div class="lbl">Max nodes per graph</div>
        </div>
        <div class="stat">
            <div class="num" data-count="100" data-suffix="%">0<em>%</em></div>
            <div class="lbl">Idiomatic C# output</div>
        </div>
    </div>
</section>
